<style type="text/css">
    .avatar {
        border-radius: 100%;
        max-width: 200px;
    }
</style>


<div class="container-fluid" style="margin-top: 200px; z-index: 100" id="fsd">
    <div class="panel panel-default text-center">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    {{#if user.image}}
                    <img src="{{ user.image }}" width="100px" class="avatar" alt="No internet access">
                    {{else}}
                    <img src="images/emptyimage.jpeg" width="100px" class="avatar" alt="Add Your picture">
                    {{/if}}
                    <form method="post" action="/upload?_csrf={{ csrfToken }}" novalidate enctype="multipart/form-data">
                        <div class="form-group">
                           
                            <input type="file" name="image" required >
                        </div>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" re>
                        <input type="submit" value="Upload Image" class="btn btn-primary"><br><br>
                    </form>
                    <ul>
                        <li>
                            <h3>{{ user.name }}</h3>
                        </li>
                        <li>
                            <h3>{{ user.matnumber }}</h3>
                        </li>
                        <li> <a class='btn btn-success' href="/edit">Edit Profile details</a> </li>
                        <hr>
                        <li> <a class='btn btn-success' href="/app">Calculate Result</a> </li>
                        <hr>
                        <li>
                            <h4>CGPA<button class='btn btn-success'>
                                    {{#if cgpa}}
                                    {{cgpa}}
                                    {{else}}
                                    No Grade Point</button>
                                {{/if}}
                        </li>
                        </h4>
                        </li>
                        <hr>
                    </ul>
                </div>
                <!-- Main Area Starts Here -->
                <div class="col-sm-8" id="sd">

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
                                {{successMsg}}
                            </div>
                            {{!-- <div class="alert alert-danger" role="alert" id="deleteAlert">
                                
                            </div> --}}
                            <div>
                                {{#if hasErrors}}
                                <div class="alert alert-danger">
                                    <ul>
                                        {{# each messages }}
                                        <li>{{this}}</li>
                                        {{/each}}
                                    </ul>

                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    {{#if results}}
                    <div class="row">
                        {{# each results}}
                        <div class="col-md-5 offset-md-1">
                            <h4 class="year-text">{{ this.level }}</h4>
                            <div class="card">
                                <div class="card-block shadow p-5">

                                    <div>
                                        <h4>{{ this.semester }}</h4>
                                        <br>
                                        <h5>Your Grade Point:
                                            <span class="badge badge-success"
                                                style="font-size: large;">{{ this.gp }}</span>
                                        </h5>
                                    </div>


                                    <div>
                                        <h5>
                                            <span class="btn btn-success" style="float:left;margin-left:10px">
                                                <a style="color:white;" href="/view/{{ this.id }}">View</a> </span>
                                            <span class="btn btn-danger" style="float:right;margin-right:10px">
                                                <a id="delete" style="color:white"
                                                    href="/delete/{{ this.id }}">Delete</a> </span>


                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>


                        {{/each}}
                    </div>



                </div>
                {{else}}
                <div class="jumbotron">

                    <h3>Welcome To Result Tracker
                        <a href="/app">Click Here </a>To Start Tracking Your Results
                    </h3>

                </div>
            </div>


            {{/if}}
            <!-- Main Area Stops Here -->

        </div>
    </div>
</div>
