
<div class="container-fluid" >
<div class="row">
    <div class="col-lg-3  bg bg-primary hidebg">
        <br><br><br><br> <br> <br><br><br><br> <br>
        <br><br><br><br> <br>

        <h2 style="color: white;">ResultTracker</h2>
    </div>
    <div class="col-md-2 col-md-offset-2"></div>
    <div class="col-md-5 col-md-offset-5 ">
        <br><br><br><br> <br>
        <div class="shadow p-5">
            <h3>
                <center>UPDATE YOUR ACCOUNT DETAILS</center>
            </h3>
            <div>
                {{#if hasErrors}}
                <div class="alert alert-danger">
                    <ul>
                        {{# each messages }}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                </div>
                {{/if}}
            </div>
            <form method="post" action="/edit" > 
                <div class="form-group">
                    <label for="title">Name:</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter You Name" value="{{ user.name}}" required>
                </div>
                <div class="form-group">
                    <label for="title">Email:</label>
                    <input type="" name="email" class="form-control" placeholder="Enter Your Email" value="{{ user.email}}" required>
                </div>
                <div class="form-group">
                    <label for="title">MatNumber:</label>
                    <input type="text" name="matnumber" class="form-control" placeholder="Enter Your Matnumber"value="{{ user.matnumber}}"
                        required>
                </div>
                <div class="form-group">
                    <label for="title">School:</label>
                    <input type="text" name="school" class="form-control" placeholder="Enter Your School" value="{{ user.school}}" required>
                </div>
                <div class="form-group">
                    <label for="title">Department:</label>
                    <input type="text" name="department" class="form-control" placeholder="Enter Your Department"value="{{ user.department}}"
                        >
                </div>
               
              
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" >
                <input type="submit" value="UPDATE" class="btn btn-primary btn block col-md-12"><br><br>
                
            </form>
        </div>
        
        
            
       
    </div>
    <div class="col-md-2 col-md-offset-2"></div>
</div>
</div>