
<br><br><br><br><br><br><br><br><br>
{{# each result}}
<p class="btn btn-success">Semester:{{ this.semester }}</p>
<p class="btn btn-success"><strong>Level:{{ this.level }}</strong></p>
<p class="btn btn-success"><strong>Year: {{ this.year }}</strong> </p>
</div>
</div>
</div>
<div class="row">

    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
        <p class="btn btn-success">GP:<strong> {{ this.gp }}</strong> </p>
        <div class="row">

        </div><br>

         

        {{/each}}
        <hr>
        <div style='overflow-x:scroll;overflow;hidden;'>


            <table class="table">
                <tr class="thead-dark">
                    {{# each this.resultKey}}

                    <th>{{ this }}</th>


                    {{/each}}
                </tr>
                <tr>
                    {{# each this.resultData}}
                    <td>{{ this }}</td>

                    {{/each}}
                </tr>
            </table>
        </div> 

