<div class="container" style="margin-top:250px; z-index: 100">
    {{# each result}}
    <table class="table">
        <tr class="thead-dark">
            <th>Year</th>
            <th>Level</th>
            <th>Semester</th>
            <th>Grade Point</th>
        </tr>
        <tr>
            <td> {{ this.year }}</td>
            <td>{{ this.level }}</td>
            <td>{{ this.semester }}</td>
            <td>{{ this.gp }}</td>
        </tr>
    </table>



    {{/each}}
    <hr>
    <div style='overflow-x:scroll;overflow;'>


        <table class="table">
            <tr class="thead-dark">
                {{# each this.resultKey}}

                <th>{{ this }}</th>


                {{/each}}
            </tr>
            <tr>
                {{# each this.resultData}}
                <td>{{ this }}</td>

                {{/each}}
            </tr>
        </table>
        
    </div>
     <a class="btn btn-primary" href="/dashboard">Back</a>
</div>
